body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('background.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #f4f4f9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    max-width: 700px;
    width: 90%;
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.8em;
    color: #ffa07a; 
    text-transform: uppercase;
    
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.score {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 15px;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #d3d3d3; 
    font-size: 1.8em;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.score h2 {
    margin: 0;
    font-size: 1em;
}

.score:hover {
    transform: scale(1.05);
}

.choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.choice {
    background: #556b2f; 
    color: white;
    border: none;
    padding: 40px 60px;
    margin: 0 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    font-size: 2.5em;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background: #6b8e23; 
    transform: scale(1.2);
}

#message {
    font-size: 1.5em;
    margin: 25px 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa07a; 
}

#restart {
    background: #8b4513; 
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background 0.3s ease, transform 0.2s ease;
}

#restart:hover {
    background: #a0522d; 
    transform: scale(1.1);
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
